/* =================================
  Layout (mobile-first)
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


// 1.Navigation --------------------- //
nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#nav-collapsible {
  flex-direction: column;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
}

// 2.Body --------------------- //
.wrapper {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: column;
}

.card {
  box-sizing: border-box;

  .card-footer {
    display: flex;
    justify-content: space-between;
  }
}

// 3.Footer --------------------- //
footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  // --> Only the footer-nav as a designated flex number
  div {
    align-items: flex-start;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}


/* =================================
  Media Queries - Tablet
==================================== */

@media (min-width: 769px) {

  // 1.Navigation --------------------- //
  nav {
    flex-direction: row;
  }

  #nav-collapsible {
    display: flex!important;
    flex: 1;
  }

  .nav-header {
    flex: 1;
  }

  .nav-header > span {
    display: none;
  }

  ul {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  // 2.Body --------------------- //
  .wrapper > header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      display: flex;
      align-items: flex-end;
    }

    h1 {
      line-height: 1!important;
    }
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 780px;

    &:after {
     content: "";
     flex: auto;
    }
  }

  .card {
    flex: 1 1 360px;
    margin-right: 60px;
    max-width: 360px;

    &:nth-child(2n+0) {
      margin-right: 0;
    }
  }
}

/* =================================
  Media Queries - Desktop
==================================== */

@media (min-width: 1136px) {

  body {
    flex-direction: row;
  }

  // 1.Navigation --------------------- //
  nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;

    // Fixes nav on the left side of the UI
    bottom: 0;
    position: fixed;
    top: 0;
  }

  #nav-collapsible {
    display: flex!important;
    flex: 10;
  }

  ul {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }


  // 2.Body --------------------- //
  .wrapper {
    margin-left: 240px;
    width: calc(100% - 240px);
  }

  .wrapper > header {
    justify-content: flex-start;
    height: 64px;
  }

  .row {
    justify-content: flex-start;
    margin: 0;
    margin-left: 90px;
    margin-top: 56px;
    max-width: 1200px;
  }

  .card {
    box-sizing: border-box;
    flex: 1 1 300px;
    max-width: 300px;

    &:nth-child(2n+0) {
      margin-right: 60px;
    }

    &:nth-child(3n+0) {
      margin-right: 60px;
    }
  }

  video {
    margin-bottom: 0;
    max-width: none;
    width: 100%;
  }

  .card-footer {
    .info {
      flex: 6;
    }
  }

  // 3.Footer --------------------- //
  footer {
    flex-direction: row;

    ul {
      align-items: flex-end;
    }

    a {
      // Properties as Flex-item
      order: 0;
    }
  }
}
