/* =================================
  General
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  // Properties as Flex-container
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#nav-collapsible {
  flex-direction: column;
}

ul {
  // Properties as Flex-container
  align-items: center;
  display: flex;
  flex-direction: column;
}

section {
  // Properties as Flex-item
  flex-grow: 1;

  // Properties as Flex-container
  display: flex;
  flex-direction: column;
}


article {
  // Properties as Flex-item
  flex: 1;

  // Properties as Flex-container
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  max-width: 400px;
  width: 100%;
}

.card-footer {
  // Properties as Flex-container
  display: flex;
  justify-content: space-between;

  .info {

    // Properties as Flex-item
    flex: 2;
  }

  a {
    // Properties as Flex-container
    display: flex;
    justify-content: flex-end;
    align-items: center;

    // Properties as Flex-item
    flex: 1;
  }

}



footer {
  // background-color: red;

  // Properties as Flex-item
  margin-top: auto;

  // Properties as Flex-container
  display: flex;
  justify-content: space-between;


  // --> Only the footer-nav as a designated flex number
  div {
    // background-color: yellow;

    // Properties as Flex-container
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;

    // Properties as Flex-item
    flex: 1;
  }
}


/* =================================
  Media Queries
==================================== */

// 1.Tablet-size --------------------- //
@media (min-width: 769px) {

  nav {
    flex-direction: row;
  }

  #nav-collapsible {
    display: flex!important;
    flex: 1;
  }

  .nav-header {
    flex: 1;
  }

  ul {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
}

// 2.Desktop-size --------------------- //
@media (min-width: 1025px) {

  body {
    flex-direction: row;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;

    // Fixes nav on the left side of the UI
    bottom: 0;
    position: fixed;
    top: 0;
  }

  #nav-collapsible {
    display: flex!important;
    flex: 10;
  }

  ul {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }


  section {
    // Overrides the inital setup and recalculates the overall width of the section
    flex-grow: 0!important;
    left: 241px;
    width: calc(100% - 241px);
    position: relative;

  }

  section > header {
    // Properties as Flex-container
    align-items: flex-end;
    display: flex;
    flex-direction: row;

    h1 {
      line-height: 1;
    }

  }

  article {
    // width: 960px;

    // Properties as Flex-container
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    // Adds a :after which autofills the remaining empty space
    &:after {
     content: "";
     flex: auto;
    }

  }

  .card {
    width: 280px;
  }

  video {
    margin-bottom: 0;
    max-width: none;
    width: 100%;
  }

  .card-footer {

    .info {
      flex: 6;
    }

  }


  footer {
    flex-direction: row;

    ul {
      align-items: flex-end;
    }

    a {
      // Properties as Flex-item
      order: 0;
    }
  }

}
