@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');




/* =================================
  VARIABLES
==================================== */

// Colors
$black: #1E1E1E;
$white: #fff;
$grey: #9A9A9A;
$lightgrey: #EEEEEE;
$orange: #E0432C;


// Type
@mixin AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@mixin AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@mixin AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  100;
  font-style:   normal;
  font-stretch: normal;
}


/* =================================
  LAYOUT
==================================== */

html,
body {
  height: 100%;
  margin: 0
}

.fullpage {
  display: flex;
  height: 100%;
}

.flex-wrapper {
  display: flex;

  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  aside {
    flex-basis: 240px;
    border-right: 1px solid $lightgrey;
    // background-color: pink;

    li {
      // background-color: blue;
      line-height: 48px;
    }

    .selected {
      border-left: 4px solid $orange;
    }

    a {
      // background-color: green;
      width: 100%;
      display: inline-block;
    }

    span {
      margin-left: 30px;
    }
  }

  section {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: calc(100% - 240px);

    //DELETE
    // background-color: blue;

    header {
      padding: 20px 0 20px 90px;
      border-bottom: 1px solid $lightgrey;
    }

    article {
      //DELETE
      // background-color: green;
      display: flex;
      flex-direction: column;
      padding: 0 90px;
      overflow: auto;
      height: calc(100% - 62px);
    }

    .cards-grid {
      padding: 45px 0;
      flex-wrap: wrap;
      display: flex;
      // overflow: auto;
      background-color: orange;
      order: 1;
    }

    .card {
      width: 280px;
      margin-right: 59px;
    }

    footer {
      //DELETE
      background-color: grey;

      align-items: flex-end;
      width: 100%;
      height: 200px;
      order: 999;
    }

  }
}


/* ---------->>> TYPOGRAPHY <<<-----------*/

body {
  @include AtlasGrotesk-Regular-Web;
  line-height: 24px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
}

h2 {
  font-size: 18px;
  color: $black;
  @include AtlasGrotesk-Regular-Web;
}

h3 {
  font-size: 18px;
  color: $black;
  @include AtlasGrotesk-Light-Web;

}



p {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $grey;
}

/* ---------->>> STYLING/SPACING <<<-----------*/

body {
  background-color: $white;
}

aside {


  h1 {
    margin: 20px 0px;

    img {
      width: 180px;
      margin-left: 30px;
    }

    span {
      display: none;
    }
  }



  .caption {
    font-size: 14px;
    color: #bdbdbd;
  }
}


section {
  // margin: 20px 40px 40px 40px;

  h3 {
    // margin-top: 20px;
    // margin-bottom: 20px;
  }
}






.card {
  .details {
    margin-top: 24px;

    .title {
      margin-bottom: 12px;
      @include AtlasGrotesk-Medium-Web;
    }

    .description {
      margin-bottom: 28px;
    }

    .preview {
      color: $grey;
      padding-bottom: 3px;
      border-bottom: 1px solid $grey;

      &:hover {
        color: $orange;
        border-color: $orange;
      }

    }

    span > img {
      position: relative;
      top: 1px;
      height: 14px;
    }
  }
}
