/* =================================
  Variables
==================================== */

// Color Palette
$black: #2E2E2E;
$darkgrey: #898989;
$grey: #CDCDCD;
$lightgrey: #EEEEEE;
$white: #fff;
$fa-orange: #E0432C;


// Typography
$title-fontsize: 24px;
$body-fontsize: 18px;
$details-fontsize: 14px;
$caption-fontsize: 12px;


/* =================================
  Typography
==================================== */

@mixin AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@mixin AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@mixin AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

body {
  @include AtlasGrotesk-Regular-Web;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $black;
  font-size: $title-fontsize;
  @include AtlasGrotesk-Light-Web;
  line-height: 36px;
}

p {
  color: $black;
  font-size: $body-fontsize;
  line-height: 24px;
}

.details {
  color: $darkgrey;
  font-size: $details-fontsize;
  line-height: 18px;
}

.caption {
  color: $darkgrey;
  font-size: $caption-fontsize;
  @include AtlasGrotesk-Medium-Web;
  letter-spacing: .5px;
  line-height: 1;
  text-transform: uppercase;
}

a {
  color: $black;
  text-decoration: none;
}


/* =================================
  Sections
==================================== */

/*
  1.Navigation
  2.Body
    -- Header
    -- Article
  3.Footer
*/


// 1.Navigation --------------------- //
nav {
  background-color: $white;
  border-bottom: 1px solid $lightgrey;
}

.nav-header {
  height: 76px;
  padding: 0 15px;

  img {
    height: 16px;
  }
}

#nav-collapsible {
  display: none;
}

#nav-collapsible > ul {
  background-color: $black;

  li {
    height: 48px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $darkgrey;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $fa-orange;
    }
  }

  a {
    color: $white;
    display: block;
    height: 100%;
    line-height: 48px;
  }
}

.hide {
  display: none;
}

.reveal {
  display: block;
}


// 2.Body --------------------- //
// --> Targets main article background
section {
  background-color: $lightgrey;
}

section > header {
  margin: 36px 0;
  padding: 0 15px;

  span {
    display: none;
  }
}

article {
  padding: 0 15px;
}

.card {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 8px 22px 0 rgba(0,0,0,0.25);
  margin-bottom: 56px;
}

.card-footer {
  padding: 20px 14px;
}

.preview {
  img {
    height: 20px;
  }
}

// --> Changed video-player default controls
.plyr__play-large {
  border-width: 2px !important;
  cursor: pointer;
}

// 3.Footer --------------------- //
footer {
  background-color: $white;
  padding: 24px 15px;

  p.details {
    font-size: 12px;
    width: 150px;
  }

  a {
    border-bottom: 1px solid $black;
  }
}

/* =================================
  Media Queries - Tablet
==================================== */

@media (min-width: 769px) {

  // 1.Navigation --------------------- //
  .nav-header > span {
    display: none;
  }

  #nav-collapsible > ul {
    background-color: $white;

    li {
      border: none;

      &:hover {
        background-color: $white;
      }
    }

    a {
      color: $black;
    }
  }
}// End @media 760px


/* =================================
  Media Queries - Desktop
==================================== */
@media (min-width: 1025px) {

  // 1.Navigation --------------------- //
  nav {
    border-bottom: none;
    border-right: 1px solid $lightgrey;
  }

  .nav-header {
    object {
      width: 200px;
    }
  }

  #nav-collapsible > ul {
    li {
      text-align: left;
      padding-left: 30px;
    }
  }

  // 2.Body --------------------- //
  section > header {
    background-color: $white;
    border-bottom: 1px solid $lightgrey;
    margin: 0;
    padding: 20px 90px;

    span {
      display: block;
      background-color: $grey;
      height: 20px;
      margin: 0 12px;
      width: 1px;
    }
  }

  article {
    margin: 64px 90px 0 90px;
    padding: 0;
  }

  .card {
    margin-bottom: 64px;
    margin-right: 30px;
  }

  .last-card {
    // margin-left: 60px;
    margin-right: 0;
  }


  // 2.Footer --------------------- //
  footer {
    padding: 24px 90px;

    p.details {
      width: 300px;
    }
  }
} // End @media 1025px
