/* /*
@font-face {
  font-family: 'EverettVF';
  src: url("https://mattdowney.github.io/digital/fonts/Sentient-Light.woff2") format("woff2"), url("https://mattdowney.github.io/digital/fonts/Sentient-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: 'EverettVF';
  src: url("https://mattdowney.github.io/digital/fonts/Sentient-Regular.woff2") format("woff2"), url("https://mattdowney.github.io/digital/fonts/Sentient-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: 'Sentient Bold';
  src: url("https://mattdowney.github.io/digital/fonts/Sentient-Bold.woff2") format("woff2"), url("https://mattdowney.github.io/digital/fonts/Sentient-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }
*/
@font-face {
  font-family: 'EverettVF';
  font-style: normal;
  font-weight: 700;
  src: url("https://everetttype.s3.eu-west-3.amazonaws.com/TWKEverett-Bold-web.woff2");
}

@font-face {
  font-family: 'EverettVF';
  font-style: normal;
  font-weight: 400;
  src: url("https://everetttype.s3.eu-west-3.amazonaws.com/TWKEverett-Regular-web.woff2");
}

h1,
h1.notion-heading {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 400 !important;
  color: "red";
}

h2,
h2.notion-heading {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 400 !important;
}

p,
p.notion-text__content {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 400 !important;
}

p .notion-semantic-string a,
p.notion-text__content .notion-semantic-string a {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 700 !important;
}

.notion-column .notion-collection .notion-collection-table__wrapper .notion-collection-table .notion-collection-table__cell.title a {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 700 !important;
}

.super-content .notion-column-list .notion-collection .notion-collection-table__wrapper .notion-collection-table .notion-collection-table__cell.title a {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 700 !important;
}

.super-content .notion-column-list p {
  margin-bottom: 2rem !important;
}

.super-content .notion-collection-gallery.medium .notion-collection-card .notion-property__title .notion-semantic-string {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 700 !important;
}

div.notion-collection-card__content>div>div>span {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 400 !important;
}

.notion-callout .notion-callout__content .notion-collection .notion-collection-table__body tr a {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 700 !important;
}

.notion-callout .notion-callout__content .notion-collection .notion-collection-table__body .notion-collection-table__cell.text .color-green {
  font-family: 'EverettVF', sans-serif !important;
  font-weight: 700 !important;
}

Viewport Window × × × */
